* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
html {
  font-size: 1.35rem;
  font-weight: 400;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: #fcfcfb;
}

#App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#f2f203;
  min-height: 100vh;
}

#container {
  /* background-color: aliceblue; */
  height: 22rem;
  width: 17rem;
}